<div class="row">
    <div class="col-md-6 col-lg-4">
        <div (click)="getDetail(1)" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" class="card">
            <img (click)="getDetail(1)" ngSrc="assets/images/service/coiffure-homme-v2.jpg" width="auto" height="auto" priority>
            
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img ngSrc="assets/images/service/soin-visage-v2.jpg" width="auto" height="auto" priority>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img ngSrc="assets/images/service/maquillage.jpg" width="auto" height="auto" priority>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img ngSrc="assets/images/service/manicure.jpg" width="auto" height="auto" priority>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img ngSrc="assets/images/service/maquillage.jpg" width="auto" height="auto" priority>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img ngSrc="assets/images/service/manicure.jpg" width="auto" height="auto" priority>
        </div>
    </div>
</div>
