<div class="row">
    <h2 class="text-center text-decoration-underline">Nos tarifs</h2>
   
</div>

<div class="row mt-5">
    <div class="offset-md-1 col-md-2">
        <div  class="card">
            <img class="rounded" ngSrc="assets/images/service/coiffure-homme/crew-cut.jpg" width="auto" height="auto" priority>
        </div>
    </div>
    <div class="offset-md-1 col-md-7">
    <h4 class="mt-5">This is a Heading 4</h4>
      <p>
        Nulla et mattis nunc. Curabitur scelerisque commodo condimentum. Mauris
        blandit, velit a consectetur egestas, diam arcu fermentum justo, eget
        ultrices arcu eros vel erat.
      </p>
      <p>Clickez <a (click)="openDialog()" class="btn-link">ici</a> pour reserver.</p>
    </div>
</div>
<div class="row mt-5">
    <div class="offset-md-8 col-md-2">
        <div  class="card">
            <img class="rounded" ngSrc="assets/images/service/coiffure-homme/degrade.png" width="auto" height="auto" priority>
            
        </div>
    </div>
</div>
    

  