<!--<div class="row">
    <h2 class="text-center text-decoration-underline">Nos tarifs</h2>
  </div> -->
  <ngx-spinner size="medium" type="ball-scale-multiple"></ngx-spinner>
  <div class = "row">
    <button type="button" (click)="openAjoutModal()" class="btn btn-primary float-left new-button btn-sm">Nouveau</button>
  </div>
  <div class="row">
      <div class="col-xl-12">
          
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of data">
                    <th scope="row">{{ data.username }}</th>
                    <td>{{ data.email }}</td>
                    <td>
                      <mat-icon (click)="openEditModal(data)">edit</mat-icon> 	
                      <mat-icon (click)="openDeleteModal(data._id , 12)">delete</mat-icon> 
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          
        </div>    
  </div>

