<div class="row">
    <h4 class="col-md-2">Mes transactions</h4> 
    <h4 class="col-md-2 offset-md-8 ">Solde  : {{ data.solde | currency:'MGA' }}</h4>
</div>
<div class="row">
    <div class="col-xl-12">
        
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date de paiement</th>
                  <th>Montant </th>
                  <th>Service </th>
                 
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let dt of data.transactions">
                  <th scope="row">{{ dt.date | date:'fullDate' }} {{ dt.date | date:'HH:mm' }}</th>
                  <td>{{ dt.montant | currency:'MGA' }}</td>
                  <td>{{ dt.service }}</td>
                 
                </tr>
               
              </tbody>
            </table>
          </div>
        
      </div>    
</div>