<div class="modal-header d-flex justify-content-center align-items-center">
    <h5 class="modal-title" id="exampleModalLabel">Nouveau personnel</h5>
    <!-- <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button> -->
  </div>
  <div class="modal-body d-flex justify-content-center align-items-center">
    <form  [formGroup]="form" (onsubmit)="save()">
        <div class="input-group mb-3">
          <input formControlName="username" type="email" class="form-control" placeholder="UserName" />
        </div>
       
        <div class="input-group mb-3">
          <input formControlName="email" type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="input-group mb-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Mot de passe" />
          </div>
          <div class="input-group mb-3">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmation mot de passe"/>
          </div>
    </form>
    
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Annuler
    </button>
    <button [disabled]="form.invalid" type="button" class="btn btn-primary" (click)="save()">Valider</button>
  </div>