<div class="modal-header modal-header d-flex justify-content-center align-items-center">
    <h5 class="modal-title" id="exampleModalLabel">Etes vous sure de suprimer ?</h5>
    <!-- <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button> -->
  </div>
  <div class="modal-body d-flex justify-content-center align-items-center">
    
        <mat-icon>delete</mat-icon> <!-- Assuming you're using Angular Material icons -->
        {{ apiUrl }}
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Non
    </button>
    <button type="button" class="btn btn-primary" (click)="delete()">Oui</button>
  </div>